---
import { db, Post, Author, eq, sql } from 'astro:db';
const slug = Astro.params.slug;
console.log(slug);
let post;

if(Astro.request.method === 'GET'){
  const res = await db.select()
    .from(Post)
    .where(eq(Post.slug, slug));

  post = res[0];
}

if(Astro.request.method === 'POST'){
    const res = await db
      .update(Post)
      .set({ 
        likes: sql`likes + 1`
        })
      .where(
        eq(Post.slug, slug)).returning();
    post = res[0];
}

---
<a href="/posts">BACK!</a>
<h2>Post: {post.slug}</h2>
<p>{post.text}</p>
likes: {post.likes}

<form method="POST" action={Astro.url.pathname}>
  <input type="hidden" name="redirect" value="" />
  <button>
    Like
  </button>
</form>
