---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Welcome to Astro.">
	<form action="./form">
  <label>Message</label>
  <input type="text" name="message">
  <button>Submit!</button>
</form>
</Layout>
