---
interface Props {
  menuDisabled?: boolean;
}

const { menuDisabled = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/main.css" />
    <meta name="generator" content={Astro.generator} />
    <title>Refill 2024</title>
  </head>
  <body>
    {
      !menuDisabled && (
        <header>
          <nav>
            <a href="/form">Form</a>
            <a href="/payment">payment</a>
            <a href="/posts">Posts</a>
          </nav>
        </header>
      )
    }
    <main>
      <slot />
    </main>
  </body>
</html>
