---
import Layout from "./Layout.astro";
/* type Props = {
  
} */
---

<Layout>
  <div class="presentation">
    <slot />
  </div>
</Layout>

<style>
  .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
</style>
